@model adminapi.Besökare

@{
    ViewBag.Title = "Besökare";
}

<h2>Besökare</h2>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="card">
            <div class="card-content">
                @Html.EditorFor(m => m.Firstname)
                @Html.EditorFor(m => m.Lastname)
                @Html.EditorFor(m => m.Email)
                @Html.EditorFor(m => m.Password)
                @Html.EditorFor(m => m.Role)

                <button type="submit" class="btn blue darken-2">Uppdatera</button>
                <a href="/" class="btn brown">Avbryt</a>
            </div>
        </div>
    </div>
}
